*{
   box-sizing:border-box
}
body{
    margin: 0;
}
.screen{
    display: flex;
    height: 100vh;
}
.leftside{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftside img{
   max-width:  700px;
   height: auto;

}
.rightside{
    width: 400px;
     padding: 50px;
    background-color: #DDD
}
.rightside label{
    display: block;
    margin-bottom: 20px;
} 
.rightside input{
    width: 100%;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 8px;
    font-size: 14px;
    outline: 0;
    
}
